html {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: Century Gothic;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  #welcome-screen {
    text-align: center;
    padding: 50px;
    background-color: #06072c;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #main-header {
    display: none;
    background-color: #06072c;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #06072c;
  }
  
  main section {
    display: none;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .player-card {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .player-card img {
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .dato-card {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .back-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  footer {
    background-color: #06072c;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  audio {
    width: 100%;
  }
.video-container {
    width: 200%; /* Ajusta este valor según el tamaño que desees */
    max-width: 900px; /* Tamaño máximo opcional */
}
.video-container iframe {
    width: 100%;
    height: auto;
}
  